* {
        box-sizing: border-box;
}

/*:root {
        --main-light: #fff;
        --main-dark: #212121;
        --secondary-color: #2F303A;
}  */

/*.wrapper {
       
} */

.header {
        width: 1600px;
        height: 80px;
        background: #FFFFFF;
        display: flex;
        
}

.navigation {
        display: flex;
        margin-right: 200px;
}


.logo {
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        
}

.navigation-list {
        display: flex;
        margin-right: 50px;
        
}

.info {
        display: flex;
} 

.navigation-item {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        
}



.navigation-link {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #212121;
        margin-right: 50px;
        
}

.mailto,
.tel {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #757575;
        margin-right: 50px;
        
}

  /*main  service*/ 

.service {
        width: 1600px;
        height: 600px;
        background: #2F303A;
}

.service-list {
        width: 700px;
        height: 120px;
        
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        
        text-transform: uppercase;
        color: #FFFFFF;
}

.btn {
                background: #2196F3;
                font-weight: 700;
                font-size: 16px;
                line-height: 30px;
        
                
                color: #FFFFFF;
}



.title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #212121;
}

.title-list{
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        
        
        text-transform: uppercase;
text-decoration: none;
        color: #212121;
        
}

.title-item {
        display: flex;
}

.title-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;

        color: #757575;
} 

.title-foto {
        display: flex;
}

.team-foto {
        display: flex;
}



.footer {
        width: 1600px;
        height: 260px;
        background: #2F303A;
}

.address {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;        
        color: rgba(255, 255, 255, 0.6);
}

.town {
        
        color: #fff;
}

